$nav-bar-height = 120px
$nav-bar-height-thin = 50px

body
	margin: 0
	font-family: 'Lato', sans-serif
	font-size: 16px
	box-sizing: border-box

	#banner
		-webkit-user-select: none
		-moz-user-select: none
		ms-user-select: none
		width: 100%
		height:"calc(100vh - %s)" % $nav-bar-height
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		&.banner-mode
			#banner-bg
				height: 100vh
		#banner-bg
			position: absolute
			top: 0
			left: 0
			background: #DDD
			width:100%
			height:"calc(100vh - %s)" % ($nav-bar-height - $nav-bar-height-thin)
			z-index: -1
		#banner-title
			font-family: 'Oswald', sans-serif
			font-size: 80px
			text-transform: uppercase
			font-weight: 700
		#banner-subtitle
			font-size: 24px
		#banner-subtitle2
			margin-top: 10px


	#nav-bar
		-webkit-user-select: none
		-moz-user-select: none
		ms-user-select: none
		display: flex
		min-height: $nav-bar-height-thin
		margin: 0 auto
		justify-content: center
		align-items: center
		position: sticky
		width: 100%
		top: 0
		left: 0
		&.banner-mode
			min-height: $nav-bar-height
			.background
				height: 0px
		.background
			bottom: 0
			left: 0
			transition: height 0.3s ease
			position:absolute
			width: 100%
			height: $nav-bar-height-thin
			background: white
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1)
			z-index: -1
		.nav-item
			height: 100%
			margin: 0px 10px
			text-align: center
			.border
				margin-top: 4px
				height: 3px
				background: black
				width: 0
				transition: width 0.3s ease
			&:hover, &.active
				cursor: pointer
				.border
					width: 100%
	#content
		margin: 0 auto
		max-width: 1000px
		min-height: "calc(100vh - %s)" % $nav-bar-height-thin
		&.banner-mode
			display: none
		.page
			height: 0
			opacity: 0
			overflow:hidden
			padding: 0
			&.active
				padding: 40px
				height: auto
				opacity: 1
			.item
				height: 0
				padding: 0
				opacity: 0
				margin-top: 20px
				transition: none
				&.active
					transition: height 0.3s ease-in,
											opacity 0.3s ease-in,
											margin-top 0.3s ease-in
					margin-top: 0
					padding: 10px
					opacity: 1


@media only screen and (max-width: 400px)
	body
		font-size: 4.5vw
		#banner
			#banner-centre
				#banner-title
					font-size: 22vw
				#banner-subtitle
					font-size: 6vw
		#content
			.page
				&.active
					padding: 0px 30px
				.item
					&.active
						padding:10px 0
