mixin overlay(tools,title,description)
	.overlay
		.overlay-inner
			.top-line
			.tools= tools
			.title= title 
			.description= description
			.bottom-line 
	
doctype html
html
	head
		title Home
		link(rel="stylesheet" type="text/css" href="css/index.css")
		link(href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0") 

	body
		#banner.banner-mode
			#banner-bg
			#banner-title Jane Fan
			#banner-subtitle Media Artist and Developer
			#banner-subtitle2 Website coming soon
			
		#nav-bar.banner-mode
			.background
			.nav-item.creative-code Creative code
				.border
			.divider
			.nav-item.3d-art 3D art
				.border
			.divider
			.nav-item.illustration Illustration
				.border
			.divider
			.nav-item.about About
				.border
		#content.banner-mode
			.page.creative-code
				.item
					+overlay("processing / photoshop","Flow Fields","a code sketch")
					img(src="img/poste4.jpg")
				.item
					+overlay("processing / photoshop","White Apartments","illustration exploration")
					img(src="img/white_apartments.jpg")
			.page.3d-art

			.page.illustration
				.item
			.page.about
				.item

		// - add this to enable browser reload on app restart
		script(src="reload/reload.js")
		script(src="js/index.js")
