body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body #banner {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  width: 100%;
  height: calc(100vh - 120px);
}
body #banner.banner-mode #banner-centre {
  height: 100vh;
}
body #banner #banner-centre {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  flex-direction: column;
}
body #banner #banner-centre #banner-title {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
body #banner #banner-centre #banner-subtitle {
  font-size: 24px;
}
body #banner #banner-centre #banner-subtitle2 {
  margin-top: 10px;
}
body #nav-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  display: flex;
  min-height: 60px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
body #nav-bar.banner-mode {
  min-height: 120px;
}
body #nav-bar.banner-mode .background {
  height: 0px;
}
body #nav-bar .background {
  bottom: 0;
  left: 0;
  transition: height 0.3s ease;
  position: absolute;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
body #nav-bar .nav-item {
  height: 100%;
  margin: 0px 10px;
  text-align: center;
  z-index: 100;
}
body #nav-bar .nav-item .border {
  margin-top: 4px;
  height: 3px;
  background: #000;
  width: 0;
  transition: width 0.3s ease;
}
body #nav-bar .nav-item:hover,
body #nav-bar .nav-item.active {
  cursor: pointer;
}
body #nav-bar .nav-item:hover .border,
body #nav-bar .nav-item.active .border {
  width: 100%;
}
body #content {
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - 60px);
}
body #content.banner-mode {
  display: none;
}
body #content .page {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
body #content .page.active {
  padding: 40px;
  height: auto;
  opacity: 1;
}
body #content .page .item {
  height: 0;
  padding: 0;
  opacity: 0;
  margin-top: 20px;
  transition: none;
}
body #content .page .item.active {
  transition: height 0.3s ease-in, opacity 0.3s ease-in, margin-top 0.3s ease-in;
  margin-top: 0;
  padding: 10px;
  opacity: 1;
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 4.5vw;
  }
  body #banner #banner-centre #banner-title {
    font-size: 22vw;
  }
  body #banner #banner-centre #banner-subtitle {
    font-size: 6vw;
  }
  body #content .page.active {
    padding: 0px 30px;
  }
  body #content .page .item.active {
    padding: 10px 0;
  }
}
