body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body #banner {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #banner.banner-mode #banner-bg {
  height: 100vh;
}
body #banner #banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: -1;
}
body #banner #banner-title {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
body #banner #banner-subtitle {
  font-size: 24px;
}
body #banner #banner-subtitle2 {
  margin-top: 10px;
}
body #nav-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  display: flex;
  min-height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
body #nav-bar.banner-mode {
  min-height: 120px;
}
body #nav-bar.banner-mode .background {
  height: 0px;
}
body #nav-bar .background {
  bottom: 0;
  left: 0;
  transition: height 0.1s ease;
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  z-index: -1;
}
body #nav-bar .nav-item {
  text-transform: uppercase;
  height: 100%;
  margin: 0px 10px;
  text-align: center;
}
body #nav-bar .nav-item .border {
  margin-top: 4px;
  height: 3px;
  background: #000;
  width: 0;
  transition: width 0.3s ease;
}
body #nav-bar .nav-item:hover,
body #nav-bar .nav-item.active {
  cursor: pointer;
}
body #nav-bar .nav-item:hover .border,
body #nav-bar .nav-item.active .border {
  width: 100%;
}
body #nav-bar .divider {
  margin-top: -6px;
}
body #nav-bar .divider::after {
  content: "//";
}
body #content {
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - 50px);
}
body #content.banner-mode {
  display: none;
}
body #content .page {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
body #content .page.active {
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  opacity: 1;
}
body #content .page .item {
  cursor: pointer;
  height: 0;
  padding: 0;
  opacity: 0;
  margin-top: 20px;
  transition: none;
}
body #content .page .item.active {
  transition: height 0.3s ease-in, opacity 0.3s ease-in, margin-top 0.3s ease-in;
  opacity: 1;
  margin-top: 0;
}
body #content .page .item.active .overlay {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}
body #content .page .item.active .overlay:hover,
body #content .page .item.active .overlay:active {
  opacity: 1;
}
body #content .page .item.active .overlay .overlay-inner {
  transform-style: preserve-3d;
  padding: 50px;
}
body #content .page .item.active .overlay .overlay-inner .top-line,
body #content .page .item.active .overlay .overlay-inner .bottom-line {
  transform: translateZ(20px);
  height: 2px;
  background-color: #fff;
  margin: 10px 0px;
}
body #content .page .item.active .overlay .overlay-inner .tools {
  transform: translateZ(30px);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5vw;
}
body #content .page .item.active .overlay .overlay-inner .title {
  transform: translateZ(40px);
  font-family: 'Oswald', sans-serif;
  font-size: 9vw;
  text-transform: uppercase;
}
body #content .page .item.active .overlay .overlay-inner .description {
  transform: translateZ(20px);
  font-size: 4vw;
}
body #content .page .item.active .overlay .overlay-inner .top-line {
  width: 100%;
}
body #content .page .item.active .overlay .overlay-inner .bottom-line {
  width: 100%;
}
body #content .page .item.active .overlay .overlay-inner .tl,
body #content .page .item.active .overlay .overlay-inner .tr,
body #content .page .item.active .overlay .overlay-inner .br,
body #content .page .item.active .overlay .overlay-inner .bl {
  position: absolute;
  width: 10px;
  height: 10px;
}
body #content .page .item.active .overlay .overlay-inner .tl,
body #content .page .item.active .overlay .overlay-inner .tr {
  border-top: 1px solid #fff;
  top: 0;
}
body #content .page .item.active .overlay .overlay-inner .bl,
body #content .page .item.active .overlay .overlay-inner .br {
  border-bottom: 1px solid #fff;
  bottom: 0;
}
body #content .page .item.active .overlay .overlay-inner .tl,
body #content .page .item.active .overlay .overlay-inner .bl {
  border-left: 1px solid #fff;
  left: 0;
}
body #content .page .item.active .overlay .overlay-inner .tr,
body #content .page .item.active .overlay .overlay-inner .br {
  border-right: 1px solid #fff;
  right: 0;
}
body #content .page .item.active img {
  width: 100%;
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 4vw;
  }
  body #banner #banner-centre #banner-title {
    font-size: 22vw;
  }
  body #banner #banner-centre #banner-subtitle {
    font-size: 6vw;
  }
  body #content .page.active {
    padding: 0px 10px;
  }
  body #content .page .item.active .overlay .overlay-inner {
    padding: 10px;
  }
}
