body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fff;
}
body.no-scroll {
  overflow: hidden;
}
body #banner {
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #banner.banner-mode #banner-bg {
  height: 100vh;
}
body #banner.active #banner-title,
body #banner.active #banner-subtitle,
body #banner.active #banner-subtitle2 {
  transform: translateY(0px);
  opacity: 1;
}
body #banner #banner-title,
body #banner #banner-subtitle,
body #banner #banner-subtitle2 {
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  transform: translateY(-10px);
  opacity: 0;
}
body #banner #banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  height: calc(100vh - 0px);
  z-index: -1;
  background-image: url("../img/banner-temp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #banner #banner-title {
  transition-delay: 0s;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
body #banner #banner-subtitle {
  transition-delay: 0.1s;
  font-size: 24px;
}
body #banner #banner-subtitle2 {
  transition-delay: 0.2s;
  margin-top: 10px;
}
body #nav-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  display: flex;
  min-height: 80px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: #000;
  opacity: 0;
  transform: translateY(-10px);
}
body #nav-bar.banner-mode {
  color: #fff;
  min-height: 80px;
  transition: color 0.2s ease;
}
body #nav-bar.banner-mode .background {
  height: 0px;
}
body #nav-bar.banner-mode .nav-item .border {
  background-color: #fff;
}
body #nav-bar.active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  transition-delay: 0.3s;
}
body #nav-bar .background {
  bottom: 0;
  left: 0;
  transition: height 0.2s ease;
  position: absolute;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  z-index: -1;
}
body #nav-bar .nav-item {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  margin: 0px 10px;
  text-align: center;
}
body #nav-bar .nav-item .border {
  margin-top: 4px;
  height: 3px;
  width: 0;
  transition: width 0.3s ease;
  background-color: #000;
}
body #nav-bar .nav-item:hover,
body #nav-bar .nav-item.active {
  cursor: pointer;
}
body #nav-bar .nav-item:hover .border,
body #nav-bar .nav-item.active .border {
  width: 100%;
}
body #nav-bar .divider {
  margin-top: -6px;
}
body #nav-bar .divider::after {
  content: "//";
}
body #content {
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - 80px);
}
body #content .line {
  height: 3px;
  background-color: #000;
  width: 100%;
  margin: 20px 0;
}
body #content.banner-mode {
  display: none;
}
body #content .page {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
body #content .page.active {
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  opacity: 1;
}
body #content .page.model-mode {
  height: 0;
}
body #content .page .item {
  cursor: pointer;
  height: 0;
  padding: 0;
  opacity: 0;
  margin-top: 20px;
  transition: none;
}
body #content .page .item.active {
  transition: height 0.3s ease-in, opacity 0.3s ease-in, margin-top 0.3s ease-in;
  opacity: 1;
  margin-top: 0;
}
body #content .page .item .project-page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  transform: scale(0.5);
}
body #content .page .item .project-page.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
body #content .page .item .project-page .tl,
body #content .page .item .project-page .tr,
body #content .page .item .project-page .br,
body #content .page .item .project-page .bl {
  position: fixed;
  border-color: #000;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-width: 3px;
}
body #content .page .item .project-page .close {
  position: fixed;
}
body #content .page .item .project-page .close:after {
  content: "close";
}
body #content .page .item .project-page .inner {
  overflow: hidden;
  position: relative;
  margin: 40px;
  height: calc(100% - 80px);
  pointer: auto;
/* y no crossbrowser scrollbar styling*/
}
body #content .page .item .project-page .inner .inner-inner {
  overflow-y: auto;
  padding-right: 20px;
  width: 100%;
  height: 100%;
}
body #content .page .item .project-page .inner .inner-inner .project-content {
  max-width: 1000px;
  margin: 0 auto;
}
body #content .page .item .project-page .inner .inner-inner .project-content .header {
  display: flex;
  align-items: stretch;
  min-height: 300px;
  margin-top: 50px;
}
body #content .page .item .project-page .inner .inner-inner .project-content .header .left {
  width: 70%;
  margin-right: 20px;
}
body #content .page .item .project-page .inner .inner-inner .project-content .header .left .title {
  font-size: 60px;
  line-height: 60px;
  font-family: 'Oswald', sans-serif;
}
body #content .page .item .project-page .inner .inner-inner .project-content .header .left .tool {
  margin: 10px 0px;
  font-size: 20px;
}
body #content .page .item .project-page .inner .inner-inner .project-content .header .description {
  width: 100%;
}
body #content .page .item .overlay {
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
body #content .page .item .overlay:hover,
body #content .page .item .overlay:active {
  opacity: 1;
}
body #content .page .item .overlay:hover .overlay-inner .tools,
body #content .page .item .overlay:active .overlay-inner .tools,
body #content .page .item .overlay:hover .overlay-inner .title,
body #content .page .item .overlay:active .overlay-inner .title,
body #content .page .item .overlay:hover .overlay-inner .description,
body #content .page .item .overlay:active .overlay-inner .description {
  margin-top: 0px;
  opacity: 1;
}
body #content .page .item .overlay:hover .overlay-inner .bottom-line,
body #content .page .item .overlay:active .overlay-inner .bottom-line,
body #content .page .item .overlay:hover .overlay-inner .top-line,
body #content .page .item .overlay:active .overlay-inner .top-line {
  margin: 10px 0px;
}
body #content .page .item .overlay .overlay-inner {
  transform-style: preserve-3d;
  padding: 50px;
}
body #content .page .item .overlay .overlay-inner .tools,
body #content .page .item .overlay .overlay-inner .title,
body #content .page .item .overlay .overlay-inner .description {
  margin-top: 20px;
  transition: margin-top 0.2s ease-in, opacity 0.2s ease-in;
  opacity: 0;
}
body #content .page .item .overlay .overlay-inner .top-line,
body #content .page .item .overlay .overlay-inner .bottom-line {
  margin: 20px 0px;
  transform: translateZ(20px);
  height: 2px;
  background-color: #fff;
}
body #content .page .item .overlay .overlay-inner .tools {
  transform: translateZ(30px);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
body #content .page .item .overlay .overlay-inner .title {
  transform: translateZ(40px);
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
body #content .page .item .overlay .overlay-inner .description {
  transform: translateZ(30px);
  font-size: 14px;
}
body #content .page .item .overlay .overlay-inner .date {
  transform: translateZ(20px);
}
body #content .page .item .overlay .overlay-inner .top-line {
  width: 100%;
}
body #content .page .item .overlay .overlay-inner .bottom-line {
  width: 100%;
}
body #content .page .item .tl,
body #content .page .item .tr,
body #content .page .item .br,
body #content .page .item .bl {
  position: absolute;
  width: 10px;
  height: 10px;
}
body #content .page .item .tl,
body #content .page .item .tr {
  border-top: 2px solid #fff;
  top: 0;
}
body #content .page .item .bl,
body #content .page .item .br {
  border-bottom: 2px solid #fff;
  bottom: 0;
}
body #content .page .item .tl,
body #content .page .item .bl {
  border-left: 2px solid #fff;
  left: 0;
}
body #content .page .item .tr,
body #content .page .item .br {
  border-right: 2px solid #fff;
  right: 0;
}
body #content .page .item img {
  width: 100%;
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 4vw;
  }
  body #banner #banner-centre #banner-title {
    font-size: 22vw;
  }
  body #banner #banner-centre #banner-subtitle {
    font-size: 6vw;
  }
  body #nav-bar {
    font-size: 4vw;
  }
  body #nav-bar .nav-item {
    margin: 0 4px;
  }
  body #content .page.active {
    padding: 0px 10px;
  }
  body #content .page .item .overlay .overlay-inner {
    padding: 10px;
  }
  body #content .page .item .overlay .overlay-inner .tools {
    font-size: 4vw;
  }
  body #content .page .item .overlay .overlay-inner .title {
    font-size: 8vw;
  }
  body #content .page .item .overlay .overlay-inner .description {
    font-size: 3.5vw;
  }
  body #content .page .item .project-page.active .tl,
  body #content .page .item .project-page.active .tr,
  body #content .page .item .project-page.active .br,
  body #content .page .item .project-page.active .bl {
    height: 20px;
    width: 20px;
    margin: 10px;
  }
  body #content .page .item .project-page.active .inner {
    margin: 20px;
    height: calc(100% - 40px);
  }
}
